---
---
<div id="cat-others" class="page-section">
    <h2 class="page-title">
        <span class="content-en">Others</span>
        <span class="content-vi">Dự Án Khác</span>
    </h2>

    <div class="about-text">
        <p>
            <span class="content-en">Other projects where I worked on different roles.</span>
            <span class="content-vi">Các dự án khác nơi tôi làm với vai trò khác.</span>
        </p>
    </div>

    <div class="gallery-grid" id="grid-others" style="margin-top:30px;">

    </div>
</div>
