---
---
<div id="cat-short-films" class="page-section">
    <h2 class="page-title">
        <span class="content-en">Short Films</span>
        <span class="content-vi">Phim Ngắn</span>
    </h2>

    <div class="about-text">
        <p>
            <span class="content-en">2020 - present.</span>
            <span class="content-vi">2020 - hiện tại.</span>
        </p>
    </div>

    <div class="gallery-grid" id="grid-short-films" style="margin-top:30px;">

    </div>

</div>
